<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open-sans', sans-serif;
        }

        :root {
            --bg-color: conic-gradient(#a7aef9, #ddccf8, #f5c9d9, #cebbfa, #a7aef9);
            --primary-color: rgb(87, 59, 138);
            --light-gray: #f7f7f7;
            --btn-hover: #6d44b8;
        }

        body {

            /* background: url(blur.jpg); */
            min-height: 100vh;
            display: flex;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            align-items: center;
            justify-content: center;
        }

        .container {
            width: 350px;
            height: 500px;
            background-color: rgb(255, 255, 255);
            backdrop-filter: blur(5px);
            border-radius: 10px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
            overflow: hidden;
        }

        #hidden-btn {
            display: none;
        }

        img {
            position: absolute;
            top: 8px;
            left: 16px;
            height: 100px;
            width: 200px;
        }


        label {
            color: #000000;
            font-size: 2.3rem;
            font-weight: bold;
            margin-bottom: 60px;
            cursor: pointer;
            transition: 0.5s ease-in-out;
        }

        input {
            width: 70%;
            height: 20px;
            background-color: #ffffff;
            border-style: double;
            outline: #000000;
            margin-bottom: 20px;
            padding: 20px 10px;
            border-radius: 5px;

        }

        button {
            width: 50%;
            height: 40px;
            color: #c5baba;
            background-color: var(--primary-color);
            border: none;
            outline: none;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.2s ease-in;
        }

        button:hover {
            background-color: var(--btn-hover);

        }

        button:active {
            transform: scale(0.97);
        }


        .login {
            height: 460px;
            width: 300px;
            background-color: #F4C2C2;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 60% / 10%;
            
            transition: 0.5s ease-in-out;
        }

        .login label {
            color: var(--primary-color);
            transform: scale(0.6);
        }

        .login input {
            background-color: var(--light-gray);
        }

        #hidden-btn:checked~.login {
            transform: translateY(-380px);
        }

        #hidden-btn:checked~.login label {
            transform: scale(1);
        }

        #hidden-btn:checked~.signup label {
            transform: scale(0.6);
        }
    </style>
</head>

<body>
    <form action="/login" method="post">
        <div class="login">
            <label for="hidden-btn">login</label>

            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Login">

        <a href="/signup">SignUp</a> 
        </div>
    </form>
    


</body>

</html>